body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    color: #0056b3;
}

    .navbar-brand:hover {
        color: #004494;
    }

.nav-item .nav-link {
    color: #555;
}

    .nav-item .nav-link:hover {
        color: #0056b3;
    }

.footer {
    background-color: #343a40;
    color: white;
}

    .footer a {
        color: #dcdcdc;
    }

        .footer a:hover {
            color: #f8f9fa;
        }
