:root[b-pl0ntyh4ju] {
    --primary-color: #5f4b8b;  /* Mor renk tonu */
    --secondary-color: #e0e0e0; /* Açık gri tonu */
    --text-color: #333; /* Koyu metin rengi */
    --link-color: #ff7f50; /* Canlı turuncu tonu, linkler için */
    --link-hover-color: #cc6a4d; /* Link üzerine gelindiğinde turuncunun koyu tonu */
}

body[b-pl0ntyh4ju] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar[b-pl0ntyh4ju] {
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--link-color);
}

.navbar-brand[b-pl0ntyh4ju], .nav-link[b-pl0ntyh4ju], footer[b-pl0ntyh4ju] {
    color: white;
}

.nav-link:hover[b-pl0ntyh4ju], .navbar-brand:hover[b-pl0ntyh4ju] {
    color: var(--link-hover-color);
}

header[b-pl0ntyh4ju] {
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

main[b-pl0ntyh4ju] {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 960px; /* Genişlik sınırlaması */
}

footer[b-pl0ntyh4ju] {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    position: relative; /* Fixed yerine relative daha uygun olabilir */
    width: 100%;
    clear: both; /* Footer'ın her zaman en altta kalmasını sağlar */
}

a[b-pl0ntyh4ju] {
    color: var(--link-color);
    transition: color 0.3s ease; /* Renk geçiş animasyonu */
}

a:hover[b-pl0ntyh4ju] {
    color: var(--link-hover-color);
    text-decoration: none; /* Linklerin altını kaldırır */
}

.btn-primary[b-pl0ntyh4ju] {
    background-color: var(--link-color);
    border-color: var(--link-color);
}

.btn-primary:hover[b-pl0ntyh4ju] {
    background-color: var(--link-hover-color);
    border-color: var(--link-hover-color);
}

/* Responsive tasarım için ekstra stiller */
@media (max-width: 768px) {
    /* Navbar için mavi arka plan rengi */
    .navbar[b-pl0ntyh4ju] {
        background-color: #007bff;
    }

    header[b-pl0ntyh4ju] {
        padding: 20px 0;
    }

    main[b-pl0ntyh4ju] {
        margin: 20px;
        padding: 15px;
    }
}
